.library-body {
    background-color: rgb(159, 77, 63);
    display: grid;
    grid-template-columns: 3fr 1fr;

}

.library-container {
    padding: 50px 100px;
}

.icon {
    color: rgb(86, 202, 213);
    text-align: center;
}

.subject-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.cart-body {
    background-color: wheat;
    padding: 30px;
}

@media screen and (max-width:600px) {
    .subject-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .library-container {
        padding: 5px 10px;
    }

    .cart-body {
        padding: 3px;
    }

}